.header {
  position: relative;
  top: 30px;
  background: #ffffff;
  margin: auto;
  max-width: 800px;
  min-height: 56px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.user-card {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.user-icon {
  width: 36px;
  height: 36px;
  background-color: #b9b9b9;
  border-radius: 18px;
  margin-right: 15px;
}

.user-name {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  color: #000000;
}

.user-email {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: left;
  color: #9d9d9d;
}

.exit {
  width: 65px;
  height: 25px;
  margin-right: 20px;
  background: #f7f5f5;
  border: 1px solid #f7f5f5;
  border-radius: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #595959;
  cursor: pointer;
}

.exit:hover {
  background: #595959;
  border: 1px solid #595959;
  color: #f7f5f5;
}
